section.featured-on {
    .featured-on-list {
        justify-content: space-around;
    }
    
    .featured-on-list a img {
        display: inline-block;
        max-height: 1.4rem;
        opacity: .5;
        padding-left: 8px;
        padding-right: 8px;
    }
}