.btn-md-lg {
    @include media-breakpoint-up(md) {
        padding: 0.75rem 1.5rem;
    }
}

.h-md-0 {
    @include media-breakpoint-up(md) {
        height: inherit !important;
    }
}

.or-gradient {
      background-image: radial-gradient(circle at 47% 42%, rgba(0, 0, 0, 0.26), rgba(78, 173, 215, 0.67));
      width: 100%!important;
}

.or-gradient.grey {
    background-image: radial-gradient(circle at 47% 42%, rgba(0, 0, 0, 0.26), rgba(32, 32, 32, 0.66));    
}


.prevent-flicker {
    -webkit-transform: translateZ(0) 
}

.invisible {
    visibility: hidden;
}
