@import "custom";
@import "bower_components/bootstrap/scss/variables.scss";
@import "bower_components/bootstrap/scss/_mixins.scss";

section.commercial {
    $width: 3.75rem;

    .item {
        font-size: 1.2rem;
        @include media-breakpoint-up(md) {
            font-size: 2rem;
        }
        font-weight: 600;
        padding-bottom: 1.5rem;
        display: table;
        text-align: left;

        .item-text {
            display: table-cell;
            text-align: left;
            vertical-align: middle;
            width: 100%;            
        }

        .img-container {
            display: table-cell;
            width: $width;
            float: left;
            margin-right: 0.5rem;
            @include media-breakpoint-up(md) {
                margin-right: 2rem;
            }

            svg {
                display: block;
                margin: auto;
                width: $width;
                height: $width;
                
                path, rect {
                    fill: rgba(0,0,0, 0.5) !important;
                }
            }

            &.s-r {
                $srwidth: $width - 0.4rem;
                width: $srwidth;
                padding-left: 0.2rem;
                padding-right: 0.2rem;
                svg {
                    width: $srwidth;
                    height: $srwidth;
                    padding-left: 0.2rem;
                    padding-right: 0.2rem;

                }
            }
        }
        
    }
}
section.contact-cta {
    position: relative;
    z-index: 1050;

    .email {
        font-size: 6rem;
        @include media-breakpoint-up(md) {
            font-size: 8rem;
        }
    }

    @include media-breakpoint-down(md) {
        
        z-index: 1000;
        form .form-inline { 
            input[type=text].form-control {
                width: 80%;
            }
            .input-group-addon {
                margin-bottom: 0.5rem !important;
                width: 3rem;
            }
        }
    }

}

.modal-backdrop.cta {
    opacity: 0;
    transition: opacity 0.4s cubic-bezier(0.32, 1.1, 0.89, 1.01);

    &.show {
        opacity: 0.5;
    }
}