
@import "custom";
@import "hero";

section.community {

    @import "oe-section";

    .community-link {
        font-size: 1.8rem;
        color: black;

        .fa {
            vertical-align: middle;
            font-size: 3.5rem;
            padding-right: 0.8rem;
            margin-left: 2rem;
        }
    }
}