@import 'https://fonts.googleapis.com/css?family=Lato:300,400,600';

$slick-loader-path: '../images/content/';
$slick-font-path: '../fonts/';

@import "bootstrap_import";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.header {
  padding: 0;
}

//$fontFamily: Lato, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

/* Space the navbar */
body {
    min-height: 55rem;
    padding-top: $navbarHeight;
}


// body,input,select,textarea {
//   font-family: $fontFamily;
// }


.btn-link-cta {
    color: white;
    text-decoration: underline;
    
    &.move-left {
      margin-left: -1rem;
      @include media-breakpoint-up(lg) {
        margin-left: -1.5rem;
      }
    }

    &:hover {
      color: darken(white, 50%);
    }
}

.btn:hover {
  cursor: pointer;
}


.btn-or-primary {
  @extend .btn-blue;
  
  &.b-version { // for A/B testing
    color: $Primary_Blue;
    background-color: $Primary_Spot_Color;
    border: solid 1px $Primary_Spot_Color;
    $hoverColor: desaturate(darken($Primary_Spot_Color, 15%), 8%);

    &:hover {
        background-color: $hoverColor;
        border-color: $hoverColor;
        color: $Primary_Blue;
    }    

    &:active {
          background-color: $hoverColor;
          border-color: $hoverColor;
    }
  }
}

.btn-or-secondary {
  color: black;
  @extend .btn-outline-secondary;
}

section.grey {
  background-color: $backgroundGrey;
}

section.cta-blue {
  background-color: $Primary_Blue;
}

section.secondary-blue {
  background-color: $Secondary_Blue;
  color: white;
}

@import "spacers";
@import "helpers";
@import "preloader";
@import "spinner";
@import "cards";

@import "nav";
@import "footer";
@import "hero";
@import "tile";
@import "contact-support";
@import "newsletter";

@import "featured-on";
@import "home"
