@import 'https://fonts.googleapis.com/css?family=Lato:300,400,600';


// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower

@import "variables";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.header {
  padding: 0;
}

.container-fluid {
  padding: 0;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
// .header,
// .marketing,
// .footer {
//   padding-right: 1rem;
//   padding-left: 1rem;
// }

/* Space the navbar */
body {
    min-height: 75rem;
    padding-top: $navbarHeight;
    font-family: Lato, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@import "nav";