@import "headerHeights";

@import "bootstrap_custom";
@import "variables";
@import "bower_components/bootstrap/scss/variables.scss";
@import "bower_components/bootstrap/scss/_mixins.scss";

section.products {
    .hero {
        overflow: hidden;
    }

    .header {
        @include header-height();

        .title {
            @include media-breakpoint-down(lg) {
                font-size: 1.5rem;
            }
        }

        .title-container {
            padding-bottom: 1rem;
            @include media-breakpoint-down(lg) {
                padding-top: 1rem;
                padding-bottom: 0;
            }

            img.trident {
                width: 90%;
                height: 90%;
                overflow: hidden;
            }
        }
    }

    &.other-products {
        background-color: $backgroundGrey;
        .title {
            font-size: 1.8rem;
        }

        
    }

}