@import "headerHeights";

@import "bootstrap_custom";
@import "variables";
@import "bower_components/bootstrap/scss/variables.scss";
@import "bower_components/bootstrap/scss/_mixins.scss";

section.trident {
    .header {
        @include header-height();

        .title {
            @include media-breakpoint-down(lg) {
                font-size: 1.5rem;
            }
        }

        .quote {
            quotes: '”' '”';
            font-size: 2.5rem;
            @include media-breakpoint-down(lg) {
                font-size: 1.5rem;
            }

            font-weight: 300;
            font-style: italic;

            .gizmodo {
                float: right;
                padding-right: 7rem;
                span {
                    padding-right: 1rem;
                    font-weight: 300;
                }
                img {
                    height: 1.7rem;
                    @include media-breakpoint-down(lg) {
                        height: 1rem;
                    }
                    
                    vertical-align: baseline;
                }
            }
        }

        .title-container {
            @include media-breakpoint-down(lg) {
                padding-top: 1rem;
            }

            img.trident {
                width: 100%;
                height: 100%;

                &.logo {
                    width: 80%;
                    height: auto;
                }
            }
        }
    }

    .description {
        font-size: 1.8rem;
        font-weight: 300;
        color: $Primary_Grey;
    }

    .features {
        $width: 3.75rem;
        .img-fluid {
            width: 100%;
        }

        .img-container {
            display: table-cell;
            width: $width;
            float: left;
            text-align: center;
            margin-right: 2rem;

            svg {
                display: block;
                margin: auto;
                width: $width;
                height: $width;
                
                path {
                    fill: rgba(0,0,0, 0.5) !important;
                }
            }
        }

        .feature {
            color: $Primary_Grey;
            font-size: 1.5rem;
            font-weight: 600;
            padding-left: 15%;
            display: table;
            
            span {
                display: table-cell;
                vertical-align: middle;
            }
        }

        
    }

    // .video {
    //     h3 {
    //         color: black;
    //         text-decoration: underline;
    //     }

    // }

    .pre-order {
        font-size: 2rem;
    }

    @import "oe-section";

    .nav-item {
        .nav-link {
            font-size: 1.2rem;

            &.active {
                font-weight: 600;
                font-size: 1.3rem;
            }
        }
    }

    section.tabs {
        #photos {
            img[data-sizes="auto"] { display: block; width: 100%; }

            .blur-up {
                opacity: 0;
                transition: opacity 400ms;
            }

            .blur-up.lazyloaded {
                opacity: 1;
            }            
        }
    }

    .carousel {
        .carousel-indicators{
         
            &.buttons {
                bottom: -12rem;
            }

            .active {
                background-color: initial;
            }
        }

        .carousel-caption {
            bottom: -2rem;
            color: black;
        }
        
        .carousel-control-prev {
            left: -1rem;
        }
        .carousel-control-next {
            right: -1rem;
        }

        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            width: 35px;
            height: 35px;
        }
    }

    
    .feature-hero {
        $height: 44rem;
        height: $height !important;

        @media screen and (max-height: #{$heightNexus5x-iPhone6P}) { 
            height: 44rem!important;
        }
        @media screen and (max-height: #{$heightiPhone6}) { 
            height: 40rem !important;
        }

        @media screen and (max-height: #{$heightNexus5}) { // and iPhone5
            height: 37rem!important;
        }            

    }

    #feature-list {
        @include media-breakpoint-up(md) {
            margin-top: -15rem;
        }
    }

    .slide-selector {
        cursor: pointer;
        text-align: center;

        margin: 0 1.5rem;
        
        @include media-breakpoint-up(lg) {
            margin: 0 4rem;
        }


        &.active,
        &:hover {
            .desc {
                color: $Primary_Blue;
            }

            i.icon {
                &.control {
                    background-image: url(../images/products/trident/icons/control-blue.svg);
                }
                &.speed {
                    background-image: url(../images/products/trident/icons/prop-blue.svg);
                }
                &.portable {
                    background-image: url(../images/products/trident/icons/carry-blue.svg);
                }
                &.connectivity {
                    background-image: url(../images/products/trident/icons/connectivity-blue.svg);
                }
            }
        }

        i.icon {
            width: 65px;
            height: 65px;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;

            &.control {
                background-image: url(../images/products/trident/icons/control.svg);
            }
            &.speed {
                background-image: url(../images/products/trident/icons/prop.svg);
            }
            &.portable {
                background-image: url(../images/products/trident/icons/carry.svg);
            }
            &.connectivity {
                background-image: url(../images/products/trident/icons/connectivity.svg);
            }
        }

        .desc {
            font-size: larger;
            font-weight: bold;
            margin-top: 8px;
            line-height: 21px;
            color: black;
            display: table;
            height: 42px;
            width: 100%;
            text-align: center;

        }
    }
}