@import "headerHeights";

@import "bootstrap_custom";
@import "variables";
@import "bower_components/bootstrap/scss/variables.scss";
@import "bower_components/bootstrap/scss/_mixins.scss";

section.trident {
    .header {
        @include header-height();

        .title {
            @include media-breakpoint-down(lg) {
                font-size: 1.5rem;
            }
        }

        .quote {
            quotes: '”' '”';
            font-size: 2.5rem;
            @include media-breakpoint-down(lg) {
                font-size: 1.5rem;
            }

            font-weight: 300;
            font-style: italic;

            .gizmodo {
                float: right;
                padding-right: 7rem;
                span {
                    padding-right: 1rem;
                    font-weight: 300;
                }
                img {
                    height: 1.7rem;
                    @include media-breakpoint-down(lg) {
                        height: 1rem;
                    }
                    
                    vertical-align: baseline;
                }
            }
        }

        .title-container {
            @include media-breakpoint-down(lg) {
                padding-top: 1rem;
            }

            img.trident {
                width: 100%;
                height: 100%;

                &.logo {
                    width: 80%;
                    height: auto;
                }
            }
        }
    }

    .description {
        font-size: 1.8rem;
        font-weight: 300;
        color: $Primary_Grey;
    }

    .features {
        $width: 3.75rem;
        .img-fluid {
            width: 100%;
        }

        .img-container {
            display: table-cell;
            width: $width;
            float: left;
            text-align: center;
            margin-right: 2rem;

            svg {
                display: block;
                margin: auto;
                width: $width;
                height: $width;
                
                path {
                    fill: rgba(0,0,0, 0.5) !important;
                }
            }
        }

        .feature {
            color: $Primary_Grey;
            font-size: 1.5rem;
            font-weight: 600;
            padding-left: 15%;
            display: table;
            
            span {
                display: table-cell;
                vertical-align: middle;
            }
        }

        
    }

    .video {
        h3 {
            color: black;
            text-decoration: underline;
        }

    }

    .pre-order {
        font-size: 2rem;
    }

    @import "oe-section";

    .nav-item {
        .nav-link {
            font-size: 1.2rem;

            &.active {
                font-weight: 600;
                font-size: 1.3rem;
            }
        }
    }

    section.tabs {
        #photos {
            img[data-sizes="auto"] { display: block; width: 100%; }

            .blur-up {
                opacity: 0;
                transition: opacity 400ms;
            }

            .blur-up.lazyloaded {
                opacity: 1;
            }            
        }
    }
}