--- 
title: Community | OpenROV | Underwater Exploration Robots
layout: default
slug: community
page_css: /styles/community.css
links:
    - label: Hardware
      url: https://github.com/OpenROV/openrov-hardware
    - label: 'Developer Chat'
      url: https://openrov.github.io/discord-dev-chat-redirect/
      icon: fa-comments-o
    - label: 'Software'
      url: https://github.com/OpenROV/openrov-software
    - label: 'Community Hacks' 
      url: http://openrov.dozuki.com/c/Community_Hacks
      icon: fa-wrench
    - label: 'Electronics'
      url: https://github.com/OpenROV/openrov-electronics
---
<section class="community pb-5">
    
    <!--<div class="container-fluid">
        <div class="row title-row">
            <div class="col-10 offset-1 pt-4 pb-4">
                <h1 class="title">Join the world's largest community of underwater drone pilots.</h1>
            </div>
        </div>
    </div>-->
    {% include oe-section.html %}

    <div class="container">
        <div class="row">
            <div class="col-12 pt-5">
                <article>
                    <h2>Discussion Forum:</h2>
                    <div class="row">
                        <div class="col-12">
                            <div class="border-1-grey hover-container hover-img-scale">
                                <a href="http://forum.openrov.com/" target="_blank" class=" ">
                                    <img src="{{ site.base }}/images/content/forum.jpg" class="img-fluid" alt="OpenExplorer Expeditions">
                                </a>
                                <div class="overlay">
                                    <a href="http://forum.openrov.com/" target="_blank" class="click-area"></a>
                                    <div class="content d-table w-100 h-100 text-white">
                                        <div class="d-table-cell align-middle" style="font-size: 1.5rem">
                                            Learn more &gt;&gt;
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>

        <div class="row">
            <article  class="col-12 pt-5">
                <h2>Other ways to engange:</h2>

                <div class="row">
                    {% for link in page.links %}
                        {% assign label = link.label %}
                        {% assign url = link.url %}
                        {% assign icon = 'fa-github' %}
                        {% if link.icon != null %}
                            {% assign icon = link.icon %}
                        {% endif %}
                        
                    <div class="col-6">
                        <a href="{{url}}" class="community-link"><i class="fa {{icon}}" aria-hidden="true"></i>{{label}}</a>
                    </div>
                    {% endfor %}
                </div>
            </article>
        </div>

    </div>
</section>