--- 
title: Underwater Drone Community
layout: default
slug: community
page_css: /styles/community.css
links:
    - label: Hardware
      url: https://github.com/OpenROV/openrov-hardware
    - label: 'Developer Chat'
      url: https://openrov.github.io/discord-dev-chat-redirect/
      icon: fa-comments-o
    - label: 'Software'
      url: https://github.com/OpenROV/openrov-software
    - label: 'Community Hacks' 
      url: http://openrov.dozuki.com/c/Community_Hacks
      icon: fa-wrench
    - label: 'Electronics'
      url: https://github.com/OpenROV/openrov-electronics

breadcrumbs:
 - id: community
   name: Community
      
---

<section class="community grey">
    <div class="hero-slider">
        <div class="hero community">
            <table class="hero-container ">
                <div class="or-darken-50"></div>
                <tbody>
                    <tr>
                        <td class="title-container">
                            <div class="container d-inline-block h-md-0 h-100">
                                <div class="row h-100">
                                    <div class="col-sm-8 h-100">
                                        <div class="title">
                                            The OpenROV Community.
                                        </div>
                                        <div class="description">
                                            Join the largest community of underwater drone enthusiasts and explorers, with hundreds of active expeditions around the
                                            world.
                                        </div>
                                        <div class="call-to-action text-center text-md-left">
                                            <a href="https://www.openexplorer.com" taget="_blank" class="btn btn-md-lg btn-primary btn-spot-cta px-4 font-weight-bold">Start exploring</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="hero oe-hero tall">
            <table class="hero-container ">
                <div class="or-darken-50"></div>
                <tbody>
                    <tr>
                        <td class="title-container">
                            <div class="container d-inline-block h-md-0 h-100">
                                <div class="row h-100">
                                    <div class="col-12 h-100">
                                        <div class="title d-flex flex-row justify-content-center pb-4">
                                            <a href="https://www.openexplorer.com" target="_blank">
                                                <img src="{{site.base}}/images/content/oe-logo.png" class="img-fluid" alt="OpenExplorer">
                                            </a>
                                        </div>
                                        <div class="description">
                                             See what our community of explorers are up to, and join an ongoing expedition.
                                        </div>
                                        <div class="call-to-action text-center text-md-left">
                                            <a href="https://www.openexplorer.com" taget="_blank" class="btn btn-md-lg btn-primary btn-spot-cta px-4 font-weight-bold">Start exploring</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</section>

<section class="community pb-5">
    
    <div class="container">
        <div class="row">
            <div class="col-12 pt-5">
                <article>
                    <h2>Discussion Forum:</h2>
                    <div class="row">
                        <div class="col-12">
                            <div class="border-1-grey hover-container hover-img-scale">
                                <a href="http://forum.openrov.com/" target="_blank" class=" ">
                                    <img src="{{ site.base }}/images/content/forum.jpg" class="img-fluid" alt="OpenExplorer Expeditions">
                                </a>
                                <div class="overlay">
                                    <a href="http://forum.openrov.com/" target="_blank" class="click-area"></a>
                                    <div class="content d-table w-100 h-100 text-white">
                                        <div class="d-table-cell align-middle" style="font-size: 1.5rem">
                                            Learn more &gt;&gt;
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>

        <div class="row">
            <article  class="col-12 pt-5">
                <h2>Other ways to engange:</h2>

                <div class="row">
                    {% for link in page.links %}
                        {% assign label = link.label %}
                        {% assign url = link.url %}
                        {% assign icon = 'fa-github' %}
                        {% if link.icon != null %}
                            {% assign icon = link.icon %}
                        {% endif %}
                        
                    <div class="col-6 text-center text-md-left pb-2 ">
                        <a href="{{url}}" class="community-link"><i class="fa {{icon}}" aria-hidden="true"></i>
                            {{label}}
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </article>
        </div>

    </div>
</section>