--- 
title: Trident Underwater Drone | OpenROV | Underwater Exploration Robots
layout: default
slug: trident
page_css: /styles/trident.css
images:
 - 1C6A7506
 - 1C6A7507
 - 1C6A7516
 - 1C6A7519
 - 1C6A7461
 - 1C6A7464
 - 1C6A7485
 - 1C6A7514
 
---
<section class="trident ">
    <div class="container-fluid hero light">
        <table class="w-100 header">
            <tbody>
                <tr class="h-100">
                    <td class="text-center">
                        <div class="container-fluid text-left d-inline-block h-md-0 title-container">
 
                            <div class="row align-items-center text-center">
                                <div class="col-10 offset-1">
                                    <blockquote class="quote text-left">
                                        <q>It feels like an amusement park ride&dash;except it's real. You're really driving
                                        around underwater, exploring.</q>
                                        <div class="gizmodo pt-3">
                                            <span>&mdash;</span><img src="../../images/media/gizmodo_logo.png" alt="Featured by GIZMODO">
                                        </div>
                                    </blockquote>
                                </div>
                            </div>

                            <div class="row align-items-center">
                                <div class="col-10 col-md-3 offset-1 pt-3 pb-4 pt-md-0 pb-md-0">
                                    <img
                                            src="{{ site.base }}/images/content/tridentuwd-grey.png"
                                            title="Trident Underwater Drone"
                                            class="trident logo img-fluid mx-auto d-block"/>
                                </div>

                                <div class="col-md-6">
                                    <img src="{{ site.base }}/images/content/trident-side.jpg" title="Trident Underwater Drone" class="trident img-fluid mx-auto d-block"
                                    />
                                </div>
                            </div>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center text-md-left">
                <span class="description">
                    Trident enables you to experience the underwater world in a completely new way.
                    Whether it's for work or recreation, this easy-to-use platform helps you to do and see more.
                </span>
            </div>
            <div class="col-12 text-center pt-5 pb-5">
                <a href="./products/trident/buy-now" class="btn btn-md-lg btn-primary btn-spot-cta px-4  font-weight-bold">BUY TRIDENT NOW</a><br/>
            </div>
        </div>
    </div>
    <div class="container-fluid features">
        <div class="row no-gutters">
            <div class="col-4">
                <img src="{{ site.base }}/images/content/trident-split-view.jpg" class="img-fluid" alt="Trident diving infront of pier">
            </div>
            <div class="col-4 d-flex">
                <div class="d-flex flex-column justify-content-around pb-5">
                    <div class="feature">Dive to 100m</div>
                    <div class="feature">Speeds up to 2m/sec</div>
                    <div class="feature">1080p Streaming</div>
                    <div class="feature">Weighs 3.4 kg</div>
                    <div class="feature pb-5">3 Hr Run Time</div>
                </div>
            </div>
            <div class="col-4">
                <img src="{{ site.base }}/images/content/trident_sanddollars.jpg" class="img-fluid" alt="Trident diving with sand dollars">
            </div>
            <div class="spike">
                <img src="{{site.base}}/images/spike.png" alt="">
            </div>
        </div>
    </div>
    <section class="video grey pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ">
                    <h2 class="pb-2">VIVID VIDEO AND STREAMING</h2>
                    The lighting and color-balancing algorithms are carefully tuned for underwater environments.
                    Trident creates video that demands to be shared.
                </div>
                <div class="col-md-6">
                    <div class="video-placeholder"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="pre-order pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center pb-2">
                    <p class="font-italic">PRE-ORDER NOW TO RESERVE YOUR DELIVERY</p>
                </div>
                <div class="col-12 text-center">
                    <a href="./products/trident/buy-now" class="btn btn-md-lg btn-primary btn-spot-cta px-4  font-weight-bold">BUY TRIDENT NOW</a><br/>
                </div>
            </div>
        </div>
    </section>

    <section class="video-2 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="video-placeholder"></div>
                </div>
                <div class="col-md-6">
                    <div class="video-placeholder"></div>
                </div>
            </div>
        </div>
    </section>

    {% include oe-section.html %}

    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-12 text-center">
                <a href="./products/trident/buy-now" class="btn btn-md-lg btn-primary btn-spot-cta px-4  font-weight-bold">BUY TRIDENT NOW</a><br/>
            </div>            
        </div>
    </div>

    <section class="tabs">
        <div class="container">
            <div class="row">
                <ul class="col-10 offset-1 nav nav-fill" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#photos" role="tab">PHOTOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#videos" role="tab">VIDEOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#specs" role="tab">SPECS</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clearfix container-fluid border-top-1">
            <div class="row no-gutters">
                <div class="col-12">
                    <div class="tab-content">

                        <div class="tab-pane fade show active" id="photos" role="tabpanel">
                            <div class="container-fluid">
                                <div class="row no-gutters magnific-gallery">
                                    {% for item in page.images %}
                                    <div class="col-md-3 col-6 hover-container hover-img-scale">
                                        <img 
                                            data-src="{{site.base}}/images/products/trident/photos/{{item}}-small.jpg"
                                            data-sizes="auto"
                                            class="lazyload blur-up"
                                        />
                                        <div class="overlay">
                                            <a href="{{site.base}}/images/products/trident/photos/{{item}}.jpg" class="click-area"></a>
                                            <div class="figure-container">
                                                <span class="figure-icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g fill="none"><path d="M50.941 34.953v30.094M65.988 50h-30.093"></path></g></svg>                
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                    {%endfor%}
                                </div>
                            </div>


                        </div>
                        <div class="tab-pane fade" id="videos" role="tabpanel">... videos</div>
                        <div class="tab-pane fade" id="specs" role="tabpanel">... specs</div>
                    </div>
                </div>
            </div>
        </div>

    </section>


</section>