--- 
title: Trident Underwater Drone | OpenROV
description: Trident is the latest high performing underwater drone from OpenROV, makers of powerful tools for marine exploration.
layout: default
slug: trident
page_script: /scripts/trident.js
page_css: /styles/trident.css
#video: https://s3.amazonaws.com/openrov-com-assets/videos/trident-maneuverability.mp4
images:
 - 1C6A7506
 - 1C6A7507
 - 1C6A7516
 - 1C6A7519
 - trident-diver
 - trident-plane
 - trident-launch
 - trident-tahoe
 - 1C6A7461
 - 1C6A7464
 - 1C6A7485
 - 1C6A7514
 
---
<section class="trident ">
    <div class="container-fluid hero light d-inline">
        <table class="w-100 header">
            <tbody>
                <tr class="h-100">
                    <td class="text-center">
                        <div class="container-fluid text-left d-inline-block h-md-0 title-container">
 
                            <div class="row align-items-center text-center">
                                <div class="col-10 offset-1">
                                    <blockquote class="quote text-left pb-5">
                                        <q>It feels like an amusement park ride&dash;except it's real. You're really driving
                                        around underwater, exploring.</q>
                                        <div class="gizmodo pt-3">
                                            <span>&mdash;</span><img src="{{site.base}}/images/media/gizmodo_logo.png" alt="Featured by GIZMODO">
                                        </div>
                                    </blockquote>
                                </div>
                            </div>

                            <div class="row align-items-center">
                                <div class="col-10 col-md-3 offset-1 pt-3 pb-4 pt-md-0 pb-md-0">
                                    <img
                                            src="{{ site.base }}/images/content/tridentuwd-grey.png"
                                            title="Trident Underwater Drone"
                                            class="trident logo img-fluid mx-auto d-block"/>
                                </div>

                                <div class="col-md-6">
                                    <img src="{{ site.base }}/images/content/trident-side.jpg" title="Trident Underwater Drone" class="trident img-fluid mx-auto d-block"
                                    />
                                </div>
                            </div>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center text-md-left">
                <span class="description">
                    Trident enables you to experience the underwater world in a completely new way.
                    Whether it's for work or recreation, this easy-to-use platform helps you to do and see more.
                </span>
            </div>
            <div class="col-12 text-center pt-5 pb-5">
                <a href="./buy-now" class="btn btn-md-lg btn-primary btn-spot-cta px-4 font-weight-bold mb-3 mr-3">PRE-ORDER TRIDENT NOW</a>
                <a href="./pre-order-faq" class="btn btn-md-lg btn-secondary mb-3 ">PRE-ORDER FAQ</a>
            </div>
        </div>
    </div>
    <div class="container-fluid features">
        <div class="row no-gutters">

            <div class="col-md-4 col-6">
                <img src="{{ site.base }}/images/content/trident-split-view.jpg" class="img-fluid" alt="Trident diving infront of pier">
            </div>
            <div class="col-md-4 col-6 push-md-4">
                <img src="{{ site.base }}/images/content/trident_sanddollars.jpg" class="img-fluid" alt="Trident diving with sand dollars">
            </div>
            <div class="col-md-4 col-12 pt-5 pt-md-0 d-flex pull-md-4">
                <div class="d-flex flex-column justify-content-around pb-5 w-100">
                    <div class="feature pb-4 pb-md-0 ">
                        <div class="img-container">
                            {% include icons/dive.svg %}
                        </div>
                        <span>Dive to 100m</span>
                    </div>
                    <div class="feature pb-4 pb-md-0">
                        <div class="img-container">
                            {% include icons/prop.svg %}
                        </div>
                        <span>Speeds up to 2m/sec</span>
                    </div>
                    <div class="feature pb-4 pb-md-0">
                        <div class="img-container">
                            {% include icons/camera.svg %}
                        </div>
                        <span>1080p Streaming</span>
                    </div>
                    <div class="feature pb-4 pb-md-0">
                        <div class="img-container">
                            {% include icons/carry.svg %}
                        </div>
                        <span>Weighs 3.4 kg</span>
                    </div>
                    <div class="feature pb-3 pb-md-5">
                        <div class="img-container">
                            {% include icons/battery.svg %}
                        </div>
                        <span>3 Hr Run Time</span>
                    </div>
                </div>
            </div>
            <div class="spike hidden-md-down">
                <img src="{{site.base}}/images/spike.png" alt="">
            </div>
        </div>
    </div>
    <section class="feature-hero hero grey pt-5 pb-0">
        <div class="container d-flex w-100 h-100 justify-content-md-center  align-items-center flex-column">
            <div class="row ">
                <div class="col-md-12 p-0">
                    <div id="feature-list" class="carousel slide carousel-fade" data-ride="false" data-interval="9999999">

                        <div class="carousel-indicators buttons hidden-sm-down">
                            <div class="slide-selector active" data-target="#feature-list" data-slide-to="0">
                                <i class="icon speed"></i>
                                <div class="desc text-nowrap">
                                    FAST &AMP; MANEUVERABLE
                                </div>
                                
                            </div>
                            <div class="slide-selector" data-target="#feature-list" data-slide-to="1">
                                <i class="icon control"></i>
                                <div class="desc text-nowrap">
                                    EASY TO USE
                                </div>
                            </div>
                            <div class="slide-selector" data-target="#feature-list" data-slide-to="2">
                                <i class="icon portable"></i>
                                <div class="desc text-nowrap">
                                     DURABLE &AMP; ULTRA PORTABLE
                                </div>
                            </div>
                            <div class="slide-selector" data-target="#feature-list" data-slide-to="3">
                                <i class="icon connectivity"></i>
                                <div class="desc">
                                    CONNECTIVITY
                                </div>
                                
                            </div>
                        </div>

                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">

                                <div class="col-12 col-md-10 offset-md-1 p-0">
                                    <div class="row">
                                        <div class="col-12 col-md-6 offset-md-0 p-0">

                                            <div class="card image card-inverse bottom video video-container mouseover-play show-control-md gradient no-text ml-1 mr-1 mt-1 mb-1 mt-md-0 mb-md-0">
                                                <img class="card-img" src="{{site.base}}/images/videos/trident-maneuverability.jpg" alt="Fast and Maneuverable">
                                                <video class="card-video" loop="loop" preload="auto">
                                                    <source src="https://s3.amazonaws.com/openrov-com-assets/videos/trident-maneuverability.mp4" type='video/mp4'>
                                                </video>
                                            </div>

                                        </div>
                                        <div class="col-12 col-md-6 offset-md-0">
                                            <h3 class="pt-5">
                                                FAST &AMP; MANEUVERABLE
                                            </h3>
    
                                            <p>Trident can quickly scan large areas, but also maneuver precisely in close quarters.</p>
                                            <p>
                                                With speeds up to 2m/s, up to 4h run time and a maximum depth of 100m,
                                                Trident sets new standards for this class of ROVs.
                                            </p>
                                        </div>

                                    </div>                              
                                </div>

                            </div>
                            <div class="carousel-item">

                                <div class="col-12 col-md-10 offset-md-1 p-0">
                                    <div class="row">
                                        <div class="col-12 col-md-6 offset-md-0 push-md-6 p-0">

                                            <div class="card image card-inverse bottom video gradient video-container mouseover-play show-control-md no-text ml-1 mr-1 mt-1 mb-1 mt-md-0 mb-md-0">
                                                <img class="card-img" src="{{site.base}}/images/videos/control.jpg" alt="Easy to Use">
                                                <video class="card-video" loop="loop" preload="auto">
                                                    <source src="https://s3.amazonaws.com/openrov-com-assets/videos/control.mp4" type='video/mp4'>
                                                </video>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 offset-md-0 pull-md-6">
                                            <h3 class="pt-5">
                                                EASY TO USE
                                            </h3>

                                            <p>
                                                Use your phone or tablet to control the drone and stream the video.
                                            </p>
                                            <p>
                                                You can stream full HD video straight to your device from deep underwater. Excellent color rendention, great low-light performance,
                                                and industry-leading latency make Trident the vehicle of choice for capturing
                                                quality video.

                                            </p>

                                        </div>
                                        
                                    </div>
                                </div>

                            </div>
                            <div class="carousel-item">
                                <div class="col-12 col-md-10 offset-md-1">
                                    <div class="row">
                                        <div class="col-12 col-md-6 offset-md-0 p-0">

                                            <img class="img-fluid ml-1 mr-1 mt-1 mb-1 mt-md-0 mb-md-0" src="{{site.base}}/images/products/trident/portable.png" alt="Durable &amp; Ultra Portable">

                                        </div>
                                        <div class="col-12 col-md-6 offset-md-0">
                                            <h3 class="pt-5">
                                                 DURABLE &AMP; ULTRA PORTABLE
                                            </h3>

                                            <p>
                                                 Trident's is compact enough to be carried in a backpack or tucked under an airplane seat and is tough enough to earn it’s
                                                keep in any professional setting.
                                            </p>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="carousel-item">
                                <div class="col-12 col-md-10 offset-md-1">
                                    <div class="row">
                                        <div class="col-12 col-md-6 offset-md-0 push-md-6 p-0">

                                            <img class="img-fluid" src="{{site.base}}/images/products/trident/connectivity.png" alt="Durable &amp; Ultra Portable">

                                        </div>
                                        <div class="col-12 col-md-6 offset-md-0 pull-md-6">
                                            <h3 class="pt-5">
                                                AN EVOLUTIONARY LEAP IN CONNECTIVITY
                                            </h3>

                                            <p>
                                                Trident uses a wireless radio to communicate with the pilot’s phone, laptop, or tablet, which greatly increases Trident's
                                                effective range. A Kevlar-reinforced and neutrally-buoyant tether makes handling and retrieving Trident easy.
                                            </p>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#feature-list" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#feature-list" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="grey">
                <div class="container pb-5">
                    <div class="row">
                        <div class="col-12 text-center">
                            <a href="#specs" class="btn btn-md-lg btn-primary btn-spot-cta px-4  font-weight-bold">TECHNICAL SPECS</a>
                        </div>
                    </div>
                </div>
    </section>

    <section class="buy-now-cta">
        <a href="./buy-now">
            <div class="title"><p class="font-italic">PRE-ORDER NOW TO RESERVE YOUR DELIVERY</p></div>
            <div class="subtitle">THE FUTURE OF UNDERWATER DRONES.</div>
        </a>
    </section>

    {% include oe-section.html %}
 
    <section class="tabs pt-5 pb-5k">
        <div class="container">
            <div class="row">
                <ul class="col-10 offset-1 nav nav-fill" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#photos" role="tab">PHOTOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#specs" role="tab">TECHNICAL SPECS</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clearfix container-fluid border-top-1">
            <div class="row no-gutters">
                <div class="col-12">
                    <div class="tab-content">

                        <div class="tab-pane fade show active" id="photos" role="tabpanel">
                            <div class="container-fluid">
                                <div class="row no-gutters mfp-gallery-zoom">
                                    {% for item in page.images %}
                                    <div class="col-md-3 col-6 hover-container hover-img-scale">
                                        <img 
                                            data-src="{{site.base}}/images/products/trident/photos/{{item}}-small.jpg"
                                            data-sizes="auto"
                                            class="lazyload blur-up"
                                        />
                                        <div class="overlay">
                                            <a href="{{site.base}}/images/products/trident/photos/{{item}}.jpg" class="click-area"></a>
                                            <div class="figure-container">
                                                <span class="figure-icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g fill="none"><path d="M50.941 34.953v30.094M65.988 50h-30.093"></path></g></svg>                
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                    {%endfor%}
                                </div>
                            </div>


                        </div>
                        <div class="tab-pane fade" id="specs" role="tabpanel">

                            <div class="container pt-4">
                                <div class="row">

                                    <div class="col-12">
                                        <table class="table table-bordered">
                                        {% for item in site.data.trident-tech-specs %}
                                             <thead>
                                                <tr class="bg-primary">
                                                    <th colspan="2" class="text-white">{{item.title}}</th>
                                                </tr>
                                             </thead>   
                                             <tbody>
                                             {% for content in item.content %}
                                                <tr>
                                                    <td class="bg-info">{{ content[0] }}</td>
                                                    <td>{{ content[1] }}</td>
                                                </tr>
                                             {% endfor %}
                                             </tbody>
                                        {% endfor %}
                                        </table>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="buy-now-cta">
        <a href="./buy-now">
            <div class="title">PRE-ORDER TRIDENT</div>
            <div class="subtitle">THE FUTURE OF UNDERWATER DRONES.</div>
        </a>
    </section>

</section>