--- 
title: OpenROV | Underwater Exploration Robots
layout: default
---

<div class="home">
  <section class="section hero-slider m-0">
    <div class="hero trident-and-diver">
      <table class="hero-container">
        <tbody>
          <tr>
            <td class="title-container">
              <div class="container d-inline-block h-md-0 h-100">
                <div class="row h-100">
                  <div class="col-sm-8 h-100">
                    <div class="title">
                      Fly through the underwater world.
                    </div>
                    <div class="call-to-action text-center text-md-left">
                      <a href="./products/trident/buy-now" class="btn btn-md-lg btn-primary btn-spot-cta px-4 font-weight-bold">BUY NOW</a>
                      <button type="button" class="btn btn-md-lg btn-link font-weight-bold btn-link-cta">Learn more</button>
                    </div>
                  </div>
                </div>
              </div>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
   
    <div class="hero trident-and-diver">
      <table class="hero-container">
        <tbody>
          <tr>
            <td class="title-container">
              <div class="container d-inline-block h-md-0 h-100">
                <div class="row h-100">
                  <div class="col-sm-8 h-100">
                    <div class="title">
                      Fly through the underwater world.
                    </div>
                    <div class="call-to-action text-center text-md-left">
                      <button class="btn btn-md-lg btn-primary btn-spot-cta px-4 font-weight-bold" type="submit">BUY NOW</button>
                      <button type="button" class="btn btn-md-lg btn-link font-weight-bold btn-link-cta">Learn more</button>
                    </div>
                  </div>
                </div>
              </div>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
   
  </section>

  <section class="featured-on py-4 hidden-sm-down">
    <div class="container">
      <div class="row d-flex featured-on-list">
          {% for item in site.data.media %}
          <a href="{{item.url}}" target="_blank" class="{% if item.hideOnMobile %}hideOnMobile{% endif %}">
            <img src="{{ site.base }}/images/media/{{item.logo}}" alt="{{item.outlet}}">
          </a>{% endfor %}
      </div>
    </div>
  </section>

  <section class="container-fluid pb-4 features">
    <div class="row">

      <div class="col-xs-12 col-md-4 mt-4 mt-sm-0 p-0">
        <a href="#" class="feature-item prevent-flicker">
          <img src="./images/content/trident-dive.jpg" alt="Crystal clear imagery">

          <div class="text-wrap">
            <div class="text">
              <h3 class="title">
                Crystal clear imagery
              </h3>
              <div class="description">
                Underwater video is more than just resolution. Trident lighting and software set it apart.              
              </div>
            </div>
          </div>
        </a>
      </div>
            
      <div class="col-xs-12 col-md-4 mt-4 mt-sm-0 p-0">
        <a href="#" class="feature-item dark prevent-flicker">
          <img src="./images/content/control-options.png" alt="Flexible control options">

          <div class="text-wrap no-gradieant">
            <div class="text">
              <h3 class="title">
                FLEXIBLE CONTROL
              </h3>
              <div class="description">
                Trident is the most flexible and robust underwater imaging system.              
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-xs-12 col-md-4 mt-4 mt-sm-0 p-0">
        <a href="#" class="feature-item prevent-flicker">
          <img src="./images/content/trident-launch.jpg" alt="Crystal clear imagery">

          <div class="text-wrap">
            <div class="text">
              <h3 class="title">
                  Enterprise
              </h3>
              <div class="description">
                Trident can transform your business.
              </div>
            </div>
          </div>
        </a>
      </div>

    </div>
  </section>
