--- 
title: Trident Underwater Drone
layout: default
include_page_css: home-include
description: Trident is the latest high performing underwater drone from OpenROV, makers of powerful tools for marine exploration. A low cost ROV (Remotely Operated Vehicle) for every application.

breadcrumbs:

---

<div class="home">
  <section class="section hero-slider m-0">
    <div class="hero trident-and-diver">
      <table class="hero-container">
        <tbody>
          <tr>
            <td class="title-container">
              <div class="container d-inline-block h-md-0 h-100">
                <div class="row h-100">
                  <div class="col-sm-8 h-100">
                    <div class="title">
                      See more with an <h1 class="keyword">underwater drone</h1>.
                    </div>
                    <div class="call-to-action text-center text-md-left">
                      <a href="./products/trident/buy-now" data-event-track="Click::Home:Hero:Slide1:Buy-Now" class="btn btn-md-lg btn-or-primary px-4 font-weight-bold trk-hero-pre-order">PRE-ORDER NOW</a>
                      <a href="./products/trident" data-event-track="Click::Home:Hero:Slide1:LearnMore" class="btn btn-md-lg btn-link font-weight-bold btn-link-cta  trk-hero-pre-order">Learn more about our <span>underwater drone</span>s</a>
                    </div>
                  </div>
                </div>
              </div>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
   
    <div class="hero light trident-on-white">
      <table class="hero-container">
        <tbody>
          <tr>
            <td class="title-container">
              <div class="container d-inline-block h-md-0 h-100">
                <div class="row h-100">
                  <div class="col-sm-8 h-100">
                    <div class="title">
                      Sleek design,<br />
                      peak performance.
                    </div>
                    <div class="call-to-action text-center text-md-left">
                      <a href="./products/trident/" data-event-track="Click::Home:Hero:Slide2:MeetTrident" class="btn btn-md-lg btn-or-primary px-4 font-weight-bold">MEET TRIDENT</a><br>
                    </div>
                  </div>
                </div>
              </div>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
   
  </section>

  <section class="featured-on py-4 d-none d-md-block">
    <div class="container">
      <div class="row d-flex featured-on-list">
          {% for item in site.data.media %}
          <a href="{{item.url}}" target="_blank" data-track="Media {{item.outlet}}" data-event-track="Click::Home:Hero:Media:{{item.outlet}}" class="{% if item.hideOnMobile %}hideOnMobile{% endif %}">
            <div class='media-logos sprite--{{item.logo}}'></div>
          </a>{% endfor %}
      </div>
    </div>
  </section>

  <section class="container-fluid pb-4 features">
    <div class="row">

      <div class="col-xs-12 col-md-4 mt-4 mt-sm-0 p-0">
        <a href="./products/trident" data-event-track="Click::Home:CrystalClearImagery" class="card image text-white gradient bottom prevent-flicker hover-primary-gradient hover-img-scale">
          <img src="./images/content/trident-dive.jpg" class="card-img" alt="Trident, the underwater drone produces Crystal clear imagery">

          <div class="card-img-overlay">
            <h3 class="card-title">
              Crystal clear imagery
            </h3>
            <p class="card-text">
              Underwater video is more than just resolution.
            </p>
          </div>
        </a>
      </div>
            
      <div class="col-xs-12 col-md-4 mt-4 mt-sm-0 p-0">
        <a href="./commercial" data-event-track="Click::Home:CommercialOperators" class="card image bottom dark prevent-flicker hover-primary-gradient hover-img-scale">
          <img src="./images/content/enterpise-solutions.png" class="card-img" alt="Options for Commercial Operators to use the Trident underwater drone">

          <div class="card-img-overlay no-gradieant">
            <h3 class="card-title">
              Commercial Operators
            </h3>
            <p class="card-text">
              A fleet of Tridents can transform your business.
            </p>
          </div>
        </a>
      </div>

      <div class="col-xs-12 col-md-4 mt-4 mt-sm-0 p-0">
        <a href="./products/trident" data-event-track="Click::Home:FlexibleControl" class="card image text-white gradient bottom prevent-flicker hover-primary-gradient hover-img-scale">
          <img src="./images/content/trident-launch.jpg" class="card-img" alt="The control of your underwater drone was nerver easier.">

          <div class="card-img-overlay">
            <h3 class="card-title">
                Flexible Control
            </h3>
            <p class="card-text">
              A portable and powerful underwater imaging system.
            </p>
          </div>
        </a>
      </div>
    </div>
  </section>

  <section class="grey">
    <div class="container pb-5">
      <div class="row pt-5 pb-2">
        <div class="col-12 text-center">
          <h1>Explore Our Underwater Drones</h1>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-12 col-md-6">
          <div class="card image text-white bottom video video-container mouseover-play gradient ml-1 mr-1 mt-1 mb-1 mt-md-0 mb-md-0">
            <a href="./products/trident" data-event-track="Click::Home:Video:HowAreDronesUsed" class="card-link cover"></a>
            <img class="card-img" src="{{site.base}}/images/videos/monterey-seal.jpg" alt="Our underwater drone diving with a seal in Monterey, CA.">
            <video fluid class="card-video" src="https://s3.amazonaws.com/openrov-com-assets/videos/monterey-seal.mp4" poster="{{site.base}}/images/videos/monterey-seal.jpg" loop="loop" preload="auto"></video>
            
            <div class="card-img-overlay">
              <p class="card-text">
                How are Underwater Drones used?
              </p>
            </div>
          </div>
        </div>        
        <div class="col-12 col-md-6">
          <div class="card image text-white bottom video video-container mouseover-play gradient ml-1 mr-1 mt-1 mb-1 mt-md-0 mb-md-0">
            <a href="./commercial/" data-event-track="Click::Home:Video:ROVsForCommercial" class="card-link cover"></a>
            <img class="card-img" src="{{site.base}}/images/videos/inspection.jpg" alt="See how an underwater drone can be used to inspect underwater infrastructure.">
            <video id="inspection" class="card-video" src="https://s3.amazonaws.com/openrov-com-assets/videos/inspection.mp4?v=1" loop="loop" preload="auto"></video>
            <div class="card-video-control"><i class="fa fa-play-circle-o play" aria-hidden="true"></i><i class="fa fa-pause-circle-o pause" aria-hidden="true"></i></div>
            <div class="card-img-overlay">
              <p class="card-text">
                How to use ROVs for Commercial Opperations?
              </p>
            </div>
          </div>
        </div>        
      </div>
    </div>
  </section>
  
<section class="community grey">
  <div class="container-fluid">
    <div class="row hero community small" >

      <table class="hero-container ">
        <div class="or-darken-50"></div>
        <tbody>
          <tr>
            <td class="title-container">
              <div class="container d-inline-block h-md-0 h-100">
                <div class="row h-100">
                  <div class="col-sm-8 h-100">
                    <div class="title">
                      The OpenROV Community.
                    </div>
                    <div class="description">
                       Join the largest community of underwater drone enthusiasts and explorers, with hundreds of active expeditions around the
                      world.
                    </div>
                    <div class="call-to-action text-center text-md-left">
                      <a href="./community" data-event-track="Click::Home:Community:StartExploring" class="btn btn-md-lg btn-or-primary px-4 font-weight-bold">Start exploring</a>
                    </div>
                  </div>
                </div>
              </div>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<section class="buy-now-cta">
  <a href="./products/trident/buy-now" data-event-track="Click::Home:FooterCTA:BuyNow">
        <div class="title">PRE-ORDER TRIDENT</div>
        <div class="subtitle">THE FUTURE OF UNDERWATER DRONES.</div>
  </a>
</section>

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "LocalBusiness",
        "name" : "OpenROV Inc",
        "url": "https://www.openrov.com",
        "logo": "https://www.openrov.com/images/openrov.png",
        "image": "https://www.openrov.com/images/openrov-trident-underwater-drone.jpg",
        "email": "info@openrov.com",
        "description": "OpenROV, the makers of high performance, low cost underwater drones/ROVs (Remove Operated Vehicle).",
    
        "address": {
            "@type": "PostalAddress",
            "addressLocality": "Berkeley",
            "addressRegion": "CA",
            "streetAddress": "2222 3rd St",
            "postalCode": "94710"
        },

        "geo": {
          "@context": "http://schema.org",
          "@type": "GeoCoordinates",
          "latitude": "37.8644232",
          "longitude": "-122.302551"
        },

        "founders": [
        { 
          "@context": "http://schema.org",
          "@type": "Person",
          "givenName": "Eric",
          "familyName": "Stackpole",
          "gender": "http://schema.org/Male"
        },
        { 
          "@context": "http://schema.org",
          "@type": "Person",
          "givenName": "David",
          "familyName": "Lang",
          "gender": "http://schema.org/Male"
        }
        ]

    }
    </script>