<footer id="footer" role="contentinfo">

    <section class="section mailchimp-footer">
        <div class="container">
            <div class="row form-row">
                <div class="col-md-12 col-xs-12 pt-4 pb-4">
                    <form
                        action="//openrov.us5.list-manage.com/subscribe/post-json?u=0f4e2a0115f4c948c958f001d&amp;id=fc995aa39e"
                        method="post"
                        id="mc-embedded-subscribe-form"
                        name="mc-embedded-subscribe-form"
                        class="validate"
                        target="_blank"
                        novalidate
                    >
                    <label class="footer-text pr-2" for="inlineFormInput">Stay informed:</label>
                    <div class="form-group row email">
                        <input
                            type="email"
                            value=""
                            name="EMAIL"
                            class="required email form-control form-control-success form-control-danger form-control-warning mb-2 mr-sm-2 mb-sm-0 col-md-4"
                            id="mce-EMAIL"
                            placeholder="EMAIL ADDRESS"
                        >
                        <input
                            type="submit"
                            value="SUBSCRIBE"
                            name="subscribe"
                            id="mc-embedded-subscribe"
                            class="btn btn-primary px-4"
                        >
                        <span class="pl-3 form-control-feedback">Please check your email address!</span>
                        <span class="pl-3 form-control-feedback-error">This email address is already subscribed!</span>
                    </div>

                    <div style="display: none"><input type="checkbox" value="512" name="group[17497][512]" id="mce-group[17497]-17497-9" checked></div>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0f4e2a0115f4c948c958f001d_fc995aa39e" tabindex="-1" value=""></div>
                    </form>
                </div>
            </div>
    </section>


    <section class="section main-footer">
        <div class="container">
            <div class="row pt-4 pb-2">
                <div class="col-md-3 col-md-offset-1 col-xs-12 link-partners">
                    <span class="footer-text">Find us:</span>

                    <div class="social pt-2">

                        <a href="https://openexplorer.com" class="" target="_blank" data-track="Footer OpenExplorer">
                            <span><div class="fa oe" data-animation="none">
                                {% include oe-logo.svg  %}
                                    </div></span>
                        </a>

                        {% for social in site.data.social %}
                        <a href="{{social.link}}" class="" target="_blank" data-track="Footer {{social.label}}">
                            <span><div class="{{ social.class }}" data-animation="none"></div></span>
                        </a>{% endfor %}


                    </div>
                </div>
                <div class="col-md-3 col-xs-6 pt-2 pt-md-0">
                    <ul class="list-unstyled">
                        <li><a class="footer-text" href="/about/">About</a></li>
                        <li><a class="footer-text" href="/press/">Press</a></li>
                        <li><a class="footer-text" href="http://blog.openrov.com/" target="_blank">Blog</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-xs-6">
                    <ul class="list-unstyled">
                        <li><a class="footer-text" href="/community/">Community</a></li>
                        <li><a class="footer-text" href="/industrial/">Industrial</a></li>
                        <!--<li><a class="footer-text" href="/support/">Support</a></li>-->
                        <li><a href="#" data-toggle="modal" data-target="#modal-contactSupport" >Contact support</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-xs-6">
                    <ul class="list-unstyled">
                        <li><a class="footer-text" href="/tos/">Terms of Service</a></li>
                        <li><a class="footer-text" href="/privacy-policy/">Privacy Policy</a></li>
                        <li><a class="footer-text" href="/sitemap/">Sitemap</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="section bottom">
        <div class="container">
            <div class="row element-no-top pb-4">

                <div class="col-md-12 text-center">
                    <span class="footer-text">2017 &copy; OpenROV CA. All Rights Reserved.</span>
                </div>


            </div>
        </div>

    </section>
</footer>