<div class="container-fluid">
    <div class="row hero oe-hero small">
        <div class="oe-description col-md-6 col-lg-4 col-xs-10 pt-md-5 pt-2 pl-md-5 ml-md-5">
            <h3 class="oe-title text-uppercase">The largest community of users</h3>
            Join the largest community of underwater drone enthusiasts and explorers, with hundreds of active expeditions around the
            world.

            <div class="pt-md-5 pt-3 oe-link">
                <a href="https://www.openexplorer.com" data-track="OpenExplorer"  data-event-track="Click::Products:Trident:OeSection:StartExploring" target="_blank" class="btn btn-md-lg btn-or-primary">START EXPLORING</a>
            </div>

        </div>

        <div class="oe-logo">
            <a href="https://www.openexplorer.com" target="_blank" data-track="OpenExplorer logo"  data-event-track="Click::Products:Trident:OeSection:OeLogo" >
                <img src="{{site.base}}/images/content/oe-logo.png" alt="OpenExplorer">
            </a>
        </div>
    </div>
</div>