--- 
title: Commercial/Industrial | OpenROV Underwater Drones
layout: default
slug: commercial
page_css: /styles/commercial.css
---
<section class="commercial pt-3 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <img src="{{ site.base }}/images/content/trident-split-view.jpg" class="img-fluid" alt="Trident diving infront of pier">
            </div>
            <div class="col-4">
                <img src="{{ site.base }}/images/content/trident-launch-tall.jpg" class="img-fluid" alt="Trident launch from a boat">
            </div>
            <div class="col-4">
                <img src="{{ site.base }}/images/content/trident_sanddollars.jpg" class="img-fluid" alt="Trident diving with sand dollars">
            </div>
        </div>

        <div class="row pt-4">
            <div class="col-12">
                <h1 class="text-black">Marine imaging and intelligence solutions that make sense for your company or organization.</h1>
            </div>
        </div>

        <div class="row pt-4 pb-5">
            <div class="col-12 text-center">
                <div class="btn btn-primary text-uppercase font-weight-bold px-4">Contact us</div>
            </div>
        </div>

        <div class="row pt-4">
            <div class="col-12 col-md-5 offset-md-1 item">
                <div class="img-container">
                    {% include icons/boat.svg %}
                </div>                
                <div class="item-text pl-4 pl-4">Tourism &amp; Recreation</div>
            </div>
            <div class="col-12 col-md-5  item">
                <div class="img-container">
                    {% include icons/anchor.svg %}
                </div>                
                <div class="item-text pl-4">Marine Construction</div>
            </div>

            <div class="col-12 col-md-5 offset-md-1 item">
                <div class="img-container">
                    {% include icons/ship.svg %}
                </div>                
                <div class="item-text pl-4">Shipping &amp; Inspection</div>
            </div>
            <div class="col-12 col-md-5  item">
                <div class="img-container">
                    {% include icons/fish.svg %}
                </div>                
                <div class="item-text pl-4">Environmental Monitoring</div>
            </div>

            <div class="col-12 col-md-5 offset-md-1 item">
                <div class="img-container">
                    {% include icons/fish.svg %}
                </div>                
                <div class="item-text pl-4">Aquaculture</div>
            </div>
            <div class="col-12 col-md-5  item">
                <div class="img-container s-r">
                    {% include icons/s-r.svg %}
                </div>                
                <div class="item-text pl-4">Search &amp; Rescue</div>
            </div>
        </div>

        <div class="row pt-4">
            <div class="col-md-6 d-flex">
                <div class="d-flex flex-column justify-content-center">
                    <h3 class="pb-2">INTELLIGENCE BELOW THE SURFACE</h3>
                    <p>
                        Building of our vision algorithms, our cloud processing solutions will allow for
                        <span class="font-weight-bold">unprecedented AI-based analysis of marine environments</span >
                        that are custom trained for your application.
                    </p>
                </div>    
            </div>
            <div class="col-md-6">
                <div class="card card-inverse bottom video md-controls ml-1 mr-1 mt-1 mb-1 mt-md-0 mb-md-0">
                    <img class="card-img" src="{{site.base}}/images/videos/trident-inspection.jpg" alt="Fast and Maneuverable">
                    <video class="card-video" loop="loop" preload="auto">
                        <source src="https://s3.amazonaws.com/openrov-com-assets/videos/trident-classification.mp4" type='video/mp4'>
                        <!--<source src="https://s3.amazonaws.com/openrov-com-assets/videos/trident-maneuverability.webm" type='video/webm'>-->
                    </video>
                    <div class="card-video-control"><i class="fa fa-play-circle-o play" aria-hidden="true"></i><i class="fa fa-pause-circle-o pause"
                            aria-hidden="true"></i></div>
                    <!--<div class="card-img-overlay">
                        <h4 class="card-title">
                            FAST &amp; MANEUVERABLE
                        </h4>

                        <p class="card-text">
                            Trident can quickly scan large areas, but also maneuver precisely in close quarters.
                        </p>
                    </div>-->
                </div>
                
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-md-6">
                <img src="{{site.base}}/images/products/trident/tridents.jpg" alt="Tridents" class="img-fluid">
            </div>
            <div class="col-md-6 d-flex">
                <div class="d-flex flex-column justify-content-center">
                    <h3 class="pb-2">CONNECTED DEVICES THAT WORK</h3>
                    <p>
                        Our
                        <span class="font-weight-bold">flexible platform, pricing and service plans</span >
                        mean you can get exactly what you need, whether that's a few robots or a connected fleet of
                        marine imaging and data gathering devices.
                    </p>
                </div>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-md-6 d-flex">
                <div class="d-flex flex-column justify-content-center">
                    <h3 class="pb-2">CUSTOM SENSORS AND SPECIFICATIONS</h3>
                    <p>
                        <span class="font-weight-bold">Trident is just the beginning.</span >
                        It's easy to use, but also capable of bing extended to include
                        custom sensors or add-ons for your specific use.<br>
                        Contact our team  to learn how we can serve your needs.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <img src="{{site.base}}/images/products/trident/extensibility.jpg" alt="Extensibility" class="img-fluid">
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-12">
                <h1 class="text-black">
                    Contact our enterprise team <span class="font-weight-bold">to discuss, set up a demo and find a solution</span>                    that works for your business today.
            </div>
        </div>
        <div class="row pt-4 pb-4">
            <div class="col-12 text-center">
                <div class="btn btn-primary text-uppercase font-weight-bold px-4">Contact us</div>
            </div>
        </div>
    </div>
</section>
