--- 
title: Commercial/Industrial Underwater Drone applications | Marine imaging and intelligence solutions | Tourism &amp; Recreation | Shipping &amp; Inspection | Environmental Monitoring
description: Trident is the perfect underwater drone for your demanding commercial applications. 

layout: default
slug: commercial
page_script: /scripts/commercial.js
page_css: /styles/commercial.css

breadcrumbs:
 - id: commercial
   name: Commercial/Industrial Applications

---
<section class="commercial pt-3 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <img src="{{ site.base }}/images/content/trident-split-view.jpg" class="img-fluid" alt="Trident diving infront of pier">
            </div>
            <div class="col-4">
                <img src="{{ site.base }}/images/content/trident-launch-tall.jpg" class="img-fluid" alt="Trident launch from a boat">
            </div>
            <div class="col-4">
                <img src="{{ site.base }}/images/content/trident_sanddollars.jpg" class="img-fluid" alt="Trident diving with sand dollars">
            </div>
        </div>

        <div class="row pt-4">
            <div class="col-12">
                <h1 class="text-black">Marine imaging and intelligence solutions that make sense for your company or organization.</h1>
            </div>
        </div>

        <div class="row pt-4 pb-5">
            <div class="col-12 text-center">
                <a href="./#form" class="btn btn-or-primary text-uppercase font-weight-bold px-4 contact-us">Contact us</a>
            </div>
        </div>

        <div class="row pt-4 justify-content-center">
            <div class="col-12 col-md-5 item">
                <div class="img-container">
                    {% include icons/boat.svg %}
                </div>                
                <div class="item-text pl-4 pl-4">Tourism &amp; Recreation</div>
            </div>
            <div class="col-12 col-md-5  item">
                <div class="img-container">
                    {% include icons/anchor.svg %}
                </div>                
                <div class="item-text pl-4">Marine Construction</div>
            </div>

            <div class="col-12 col-md-5 item">
                <div class="img-container">
                    {% include icons/ship.svg %}
                </div>                
                <div class="item-text pl-4">Shipping &amp; Inspection</div>
            </div>
            <div class="col-12 col-md-5  item">
                <div class="img-container">
                    {% include icons/fish.svg %}
                </div>                
                <div class="item-text pl-4">Environmental Monitoring</div>
            </div>

            <div class="col-12 col-md-5 item">
                <div class="img-container">
                    {% include icons/fish.svg %}
                </div>                
                <div class="item-text pl-4">Aquaculture</div>
            </div>
            <div class="col-12 col-md-5  item">
                <div class="img-container s-r">
                    {% include icons/s-r.svg %}
                </div>                
                <div class="item-text pl-4">Search &amp; Rescue</div>
            </div>
        </div>

        <div class="row pt-4">
            <div class="col-md-6 d-flex">
                <div class="d-flex flex-column justify-content-center">
                    <h3 class="pb-2">INTELLIGENCE BELOW THE SURFACE</h3>
                    <p>
                        Building on our vision algorithms, our cloud processing solutions will allow for
                        <span class="font-weight-bold">unprecedented AI-based analysis of marine environments</span >
                        that are custom trained for your application.
                    </p>
                </div>    
            </div>
            <div class="col-md-6">
                <div class="card image text-white bottom video video-container mouseover-play show-control-md ml-1 mr-1 mt-1 mb-1 mt-md-0 mb-md-0">
                    <img class="card-img" src="{{site.base}}/images/videos/trident-inspection.jpg" alt="Fast and Maneuverable">
                    <video class="card-video" loop="loop" preload="auto">
                        <source src="https://s3.amazonaws.com/openrov-com-assets/videos/trident-classification.mp4" type='video/mp4'>
                        <!--<source src="https://s3.amazonaws.com/openrov-com-assets/videos/trident-maneuverability.webm" type='video/webm'>-->
                    </video>
                </div>
                
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-md-6">
                <img src="{{site.base}}/images/products/trident/tridents.jpg" alt="Tridents" class="img-fluid">
            </div>
            <div class="col-md-6 d-flex">
                <div class="d-flex flex-column justify-content-center">
                    <h3 class="pb-2">CONNECTED DEVICES THAT WORK</h3>
                    <p>
                        Our
                        <span class="font-weight-bold">flexible platform, pricing and service plans</span >
                        mean you can get exactly what you need, whether that's a few robots or a connected fleet of
                        marine imaging and data gathering devices.<br>
                         No maintenance, expensive training courses, or service interruptions. Just technology that works.
                    </p>
                </div>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-md-6 d-flex">
                <div class="d-flex flex-column justify-content-center">
                    <h3 class="pb-2">CUSTOM SENSORS AND SPECIFICATIONS</h3>
                    <p>
                        <span class="font-weight-bold">Trident is just the beginning.</span >
                        It's easy to use, but also capable of being extended to include
                        custom sensors or add-ons for your specific use. Add-ons are attached to our published and standard bolt pattern 
                        and interface with the main vehicle via WiFi.<br>
                        Contact our team  to learn how we can serve your needs.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <img src="{{site.base}}/images/products/trident/extensibility.jpg" alt="Extensibility" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section class="contact-cta secondary-blue mb-5">
    <div class="container">
        <div class="row pt-4">
            <div class="col-md-2 col-12 text-center">
                <i class="fa fa-envelope-o pt-md-4 pb-4 email" aria-hidden="true"></i>
            </div>
            <div class="col-md-10 col-12 d-flex align-items-center">
                <h1 class="mb-0 text-white">
                    Contact our enterprise team <span class="font-weight-bold text-black">to discuss, set up a demo, and find a solution</span>                    that works for your business today.
            </div>
        </div>
    </div>

    <div class="container pb-5">
        <div class="row">
            <form id="form" class="form-inline d-flex col-12 pt-4">
                <div class="d-flex flex-column">
                    <div class="form-inline">
                        <div class="form-inline w-100-md-down">
                            <label class="sr-only" for="email">E-Mail</label>
                            <div class="input-group-addon"><span class="fa fa-envelope" aria-hidden="true"></span></div>
                            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="email" placeholder="E-Mail" requierd>
                        </div>

                        <div class="form-inline w-100-md-down">
                            <label class="sr-only" for="phone">Phone</label>
                            <div class="input-group-addon"><span class="fa fa-phone" aria-hidden="true"></span></div>
                            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="phone" placeholder="Phone">
                        </div>

                    </div>
                    <div class="form-inline pt-md-4">
                        <div class="form-inline w-100-md-down">
                            <label class="sr-only" for="name">Name</label>
                            <div class="input-group-addon"><span class="fa fa-user" aria-hidden="true"></span></div>
                            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="name" placeholder="Name" requierd>
                        </div>
    
                        <div class="form-inline w-100-md-down">
                            <label class="sr-only" for="company">Company</label>
                            <div class="input-group-addon"><span class="fa fa-building-o" aria-hidden="true"></span></div>
                            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="company" placeholder="Company">
                        </div>

                    </div>
                    <div class="form-inline pt-md-4">

                        <div class="form-inline w-100-md-down">
                            <label class="sr-only" for="industry">Industry</label>
                            <div class="input-group-addon"><span class="fa fa-industry" aria-hidden="true"></span></div>
                            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="industry" placeholder="Industry">
                        </div>
                        <div class="form-inline w-100-md-down">
                            <label class="sr-only" for="website">Website</label>
                            <div class="input-group-addon"><span class="fa fa-globe" aria-hidden="true"></span></div>
                            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="website" placeholder="Website">
                        </div>
    
                    </div>
                </div>
                <div class="form-inline col-12 col-md-5 pl-0 align-self-strech">
                    <label class="sr-only" for="description">"Tell us a little bit about you, your business, your challenges, and how you think we might be able to help:</label>
                    <textarea class="form-control mb-2 mr-sm-2 mb-sm-0 w-100 h-100" id="description" placeholder="Tell us about you, your business, your challenges, and how you think we might be able to help."
                        ></textarea>
    
                </div>
                <div class="d-flex flex-column w-100-md-down">
                    <div class="text-center">
                        <input type="hidden" id="uniqueId" value="">
                        <div id="send" class="btn btn-light text-uppercase font-weight-bold px-4">Send</div>
                    </div>
                </div>
            </form>
        </div>
        </div>
</section>